<ons-page id="detailsTaskPage">
  <ons-toolbar class="toolbar_perso">
    <div class="left"><ons-back-button>Retour</ons-back-button></div>
    <div class="center">Détails</div>
    <div class="right">
      <ons-toolbar-button component="button/save-task">
        <ons-if platform="android">
          <ons-icon icon="md-save"></ons-icon>
        </ons-if>
        <ons-if platform="ios other">
          Modifier
        </ons-if>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>

  <ons-list-title>Modifier les informations</ons-list-title>
  <ons-list>
    <ons-list-item modifier="nodivider">
      <ons-if platform="ios other" class="left left-label">
        Nom de la tâche
      </ons-if>
      <div class="center">
        <ons-input id="title-input" type="text" placeholder="Nom de la tâche" float></ons-input>
      </div>
    </ons-list-item>
    <ons-list-item modifier="nodivider">
      <ons-if platform="ios other" class="left left-label">
        Catégorie
      </ons-if>
      <div class="center">
        <ons-input id="category-input" type="text" placeholder="Categorie" float></ons-input>
      </div>
    </ons-list-item>
    <ons-list-item modifier="nodivider">
      <ons-if platform="ios other" class="left left-label">
        Description
      </ons-if>
      <div class="center">
        <ons-input id="description-input" type="text" placeholder="Description" float></ons-input>
      </div>
    </ons-list-item>
  </ons-list>

  <ons-list-title>Modalités</ons-list-title>
  <ons-list>
    <ons-list-item modifier="nodivider">
      <label class="center" for="inner-highlight-input">
        Tâche importante ?
      </label>
      <div class="right">
        <ons-switch id="highlight-input" modifier="switch_perso" input-id="inner-highlight-input"></ons-switch>
      </div>
    </ons-list-item>
    <ons-list-item modifier="nodivider">
      <label for="inner-urgent-input">
        Tâche urgente ?
      </label>
      <div class="right">
        <ons-switch id="urgent-input" input-id="inner-urgent-input"></ons-switch>
      </div>
    </ons-list-item>
  </ons-list>
</ons-page>
