<ons-page id="menuPage">

  <ons-list-title><strong>Gandiolle Eliott & Jenin Marius</strong></ons-list-title>
  <ons-list-title>Lien utiles</ons-list-title>
  <ons-list id="links">
    <ons-list-item tappable style="cursor: pointer" modifier="longdivider chevron"
      onclick="window.open('https://onsen.io/')"
    >
      <div class="left">
        <ons-icon icon="fa-external-link" style="color: grey;"></ons-icon>
      </div>
      <div class="center">
        Site d'Onsen UI
      </div>
    </ons-list-item>
    <ons-list-item tappable style="cursor: pointer" modifier="longdivider chevron"
      onclick="window.open('https://auth.univ-lorraine.fr/login?service=https:%2F%2Fent.univ-lorraine.fr%2FLogin%3FrefUrl%3D%2F')"
    >
      <div class="left">
        <ons-icon icon="fa-external-link" style="color: grey;"></ons-icon>
      </div>
      <div class="center">
        Ent Université de Lorraine
      </div>
    </ons-list-item>
    <ons-list-item tappable style="cursor: pointer" modifier="longdivider chevron"
      onclick="window.open('https://arche.univ-lorraine.fr/')"
    >
      <div class="left">
        <ons-icon icon="fa-external-link" style="color: grey;"></ons-icon>
      </div>
      <div class="center">
        Arche
      </div>
    </ons-list-item>
  </ons-list>

  <ons-list-title>Filtrer les tâches</ons-list-title>
  <ons-list id="default-category-list">
    <ons-list-item tappable>
      <div class="left">
        <ons-radio name="categoryGroup" input-id="r-all" checked></ons-radio>
      </div>
      <label class="center" for="r-all">Toutes</label>
    </ons-list-item>
    <ons-list-item tappable category-id="">
      <div class="left">
        <ons-radio name="categoryGroup" input-id="r-no"></ons-radio>
      </div>
      <label class="center" for="r-no">Pas de catégories</label>
    </ons-list-item>

    <ons-list-title>Catégories personnelles</ons-list-title>
    <ons-list id="custom-category-list">
    </ons-list>
  </ons-list>


</ons-page>
