<ons-page id="newTaskPage">
  <ons-toolbar class="toolbar_perso">
    <div class="left"><ons-back-button>Tâches</ons-back-button></div>
    <div class="center">Ajouter une tâche</div>
    <div class="right">
      <ons-if platform="android">
        <ons-toolbar-button component="button/save-task">
          <ons-icon icon="md-save"></ons-icon>
        </ons-toolbar-button>
      </ons-if>
    </div>
  </ons-toolbar>

  <ons-list-title>Informations de la tâche</ons-list-title>
  <ons-list>
    <ons-list-item modifier="nodivider">
      <div class="center">
        <ons-input id="title-input" type="text" placeholder="Nom de la tâche" float></ons-input>
      </div>
    </ons-list-item>
    <ons-list-item modifier="nodivider">
      <div class="center">
        <ons-input id="category-input" type="text" placeholder="Catégorie" float></ons-input>
      </div>

      <ons-select id="choose-sel" onchange="editSelects(event)">
        <option>Choix Catégorie</option>
      </ons-select>

    </ons-list-item>
    <ons-list-item modifier="nodivider">
      <div class="center">
        <ons-input id="description-input" type="text" placeholder="Description" float></ons-input>
      </div>
    </ons-list-item>
  </ons-list>

  <ons-list-title>Modalités</ons-list-title>
  <ons-list>
    <ons-list-item modifier="nodivider">
      <label class="center" for="inner-highlight-input">
        Tâche importante ?
      </label>
      <div class="right">
        <ons-switch id="highlight-input" input-id="inner-highlight-input"></ons-switch>
      </div>
    </ons-list-item>
    <ons-list-item modifier="nodivider">
      <label class="center" for="inner-urgent-input">
        Tâche urgente ?
      </label>
      <div class="right">
        <ons-switch id="urgent-input" input-id="inner-urgent-input"></ons-switch>
      </div>
    </ons-list-item>
  </ons-list>

  <ons-if platform="ios other">
    <ons-button modifier="large" component="button/save-task">Valider cette tâche</ons-button>
  </ons-if>
</ons-page>
